In [54]:
import numpy as np
import matplotlib.pyplot as plt
from ConfigParser import ConfigParser
import pandas as pd
%matplotlib inline

### load config

In [69]:
cfg = ConfigParser()
cfg.read("../config.ini")

['../config.ini']

### read string properties

In [70]:
data_dir = cfg.get("dirs", "data")
data_dir

'/Users/rlx/datasets/accidentes-medellin'

In [71]:
fetex_dir = cfg.get("dirs", "fetex")
fetex_dir

'/Users/rlx/datasets/accidentes-medellin/3_fetex'

In [72]:
accidents_dir = cfg.get("dirs", "accidentes")
accidents_dir

'/Users/rlx/datasets/accidentes-medellin/4_accidentes'

In [76]:
m250_desc = cfg.get("grid", "m250_desc")
m250_desc

'satellite image tiles covering an area of 250m x 250m'

In [78]:
grid_id = cfg.get("grid", "default")
grid_id

'm250'

### using properties

In [79]:
fet = pd.read_csv("%s/r_fetex_%s.txt"%(fetex_dir, grid_id))

In [80]:
fet.head()

,ID,MEAN1,DEVST1,MAJORITY1,MEAN2,DEVST2,MAJORITY2,MEAN3,DEVST3,MAJORITY3,...,VFM,DMF,RMM,SDF,AFM,DMS,DMM,HA,PROCESSED,SAMPLE
0,24,138.62375,65.039584,255,138.79409,63.933602,255,147.65069,64.072203,255,...,1.912110,1778.5997,1.431534,-867.98084,13454.671,0.0,0.0,0.0,Yes,?
1,25,148.91463,63.155302,255,147.08342,62.889769,255,156.95074,61.992079,255,...,1.709328,1844.4887,1.394853,-972.98304,14314.686,0.0,0.0,0.0,Yes,?
2,26,152.04173,57.130633,147,147.28840,58.243407,255,158.09718,56.659502,255,...,1.493061,1821.9639,1.340785,-1070.60850,14469.819,0.0,0.0,0.0,Yes,?
3,27,140.44338,63.509666,160,130.59798,61.395751,137,137.67384,59.860013,141,...,1.781270,1761.4167,1.411630,-896.41898,13457.297,0.0,0.0,0.0,Yes,?
4,28,127.22372,65.959904,67,122.41322,62.772888,255,128.08879,61.548189,70,...,2.021067,1606.0595,1.476514,-701.53900,11887.853,0.0,0.0,0.0,Yes,?

In [68]:
acc = pd.read_csv("%s/%s_c.csv"%(accidents_dir, grid_id))
acc.head()

,id,xmin,xmax,ymin,ymax,geometry,All,Atropello,Caida Ocupante,Choque,...,MOTOCARRO,MOTOCICLETA,MOTOCICLO,REMOLQUE,TRACCION ANIMAL,TRACTO-CAMION REMOLQUE,TRACTOCAMION,TRACTOR,TRICICLO,VOLQUETA
0,24,833898.497295,834148.497295,1.189812e+06,1.190062e+06,"POLYGON ((833898.497295 1190061.7146, 834148.4...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,25,834148.497295,834398.497295,1.189812e+06,1.190062e+06,"POLYGON ((834148.497295 1190061.7146, 834398.4...",2.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,26,834398.497295,834648.497295,1.189812e+06,1.190062e+06,"POLYGON ((834398.497295 1190061.7146, 834648.4...",1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27,834648.497295,834898.497295,1.189812e+06,1.190062e+06,"POLYGON ((834648.497295 1190061.7146, 834898.4...",0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,834898.497295,835148.497295,1.189812e+06,1.190062e+06,"POLYGON ((834898.497295 1190061.7146, 835148.4...",6.0,0.0,0.0,6.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0